:root{
    --skin:  #fadab3;
    --hat: #48b4bc;
    --shirt: #d61f40;
    --border-hat: #f9de06;
    --buttons: #372d32;
    --pants: #bb8c67;
    --shoes: #744231;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.head{
    position: relative;
    margin-top: 50px;
    width: 150px;
    height: 141px;
    background-color: var(--skin);
    border-radius: 50%;
}

.eye{
    position: absolute;
    top:  50px;
    width: 35px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    left:40px;
    transform: rotate(20deg);
}


.eye-right{
    left:70px;
    transform: rotate(140deg);
}

.eye-left::before{
    position: absolute;
    content: "";
    top: 17px;
    left: 20px;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}

.eye-right::before{
    position: absolute;
    content: "";
    top: 20px;
    right: 11px;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}


.mouthup{
    position: absolute;
    top: 115px;
    left: 62px;
    width: 20px;
    height: 5px;
    /* background-color: blueviolet; */
    border-radius: 50%;
    border-top: 1px solid black;
}

.mouthup::after{
    position: absolute;
    top: 3px;
    left: -5px;
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 50%;
    border-bottom: 1px solid black;
}

.dewlap{
    position: absolute;
    top: 73px;
    right: 20px;
    content: "";
    width: 110px;
    height: 60px;
    border-radius: 50%;
    border-bottom: 1px solid black;
}
.hat{
    position: absolute;
    width: 150px;
    height: 141px;
    /* background-color: var(--hat); */
    border-radius: 50%;
    border-top: 40px solid var(--hat);
}

.hat::after{
    position: absolute;
    content: "";
    width: 150px;
    height: 55px;
    /* background-color: var(--hat); */
    border-radius: 50%;
    border-top: 7px solid var(--border-hat);
}

.hat::before{
    position: absolute;
    top: -45px;
    left: 60px;
    content: "";
    width: 20px;
    height: 10px;
    background-color: var(--border-hat);
    border-radius: 50%;
    /* border-top: 7px solid var(--border-hat); */
}

.shirt{
    position: absolute;
    top: 150px;
    width: 195px;
    height: 125px;
    background-color: var(--shirt);
    border-radius: 20% 20% 45% 30%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.button{
    width: 6px;
    height: 6px;
    margin: 17px auto 0;
    background-color: var(--buttons);
    border-radius: 50%;
}

.shirt::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 110px;
    border-right: 1px solid var(--buttons);
}
