:root {
    --skin: #f6c09c;
    --background: #ed4042;
    --red: #ed2860;
    --dark-red: #680524;
    --black: #00243a;
    --white: #fff;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: var(--background);
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .head{
    width: 90px;
    height: 150px;
    background-color: var(--skin);
    border-radius: 50px;
    position: relative;
  }
  
  .eye-left{
    width: 20px;
    height: 16px;
    display: flex;
    justify-content: center;
    background-color: var( --white);
    position: absolute;
    top: 60px;
    left: 25px;
    border-radius:  0px 0px 20px 20px;
  }

  .iris{
      width: 3px;
      height: 3px;
      margin-top: 3px;
      background-color: var(--black);
      border-radius: 50%;
  }

  .eye-right{
    width: 20px;
    height: 16px;
    background-color: var( --white);
    position: absolute;
    top: 60px;
    left: 42px;
    border-radius:  0px 0px 40px 40px;
  }

  .iris-right{
      margin-left: 7px;
  }

.ear{
    content: "";
    width: 20px;
    height: 17px;
    position: absolute;
    background-color: var(--skin);
    left: -10px;
    top: 60px;
    border-radius: 50%;
    display: flex;
    opacity: 0.6;
}

.ear::before{
  position: absolute;
  content: "x"; /* use the hex value here... */
  font-size: 10px; 
  color: #000;
  text-align: center;
  top: 1px;
  left: 4px;
  opacity: 0.2;
}

.ear-right{
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  background-color: var(--skin);
  left: 80px;
  top: 60px;
  border-radius: 50%;
  display: flex;
  opacity: 0.6;
}

.ear-right::after{
  position: absolute;
  content: "x"; /* use the hex value here... */
  font-size: 10px; 
  color: #000;
  text-align: center;
  top: 1px;
  left: 11px;
  opacity: 0.2;
}

.beard{
  position: relative;
  width: 90px;
  height: 85px;
  background-color: var(--black);
  top: 80px;
  border-radius: 25px 25px 45% 45%;
}

.beard::before{
  content: "";
  width: 23px;
  height: 20px;
  position: absolute;
  background-color: var(--skin);
  left: 33px;
  top: -5px;
  border-radius: 50%;
}

.mouth{
  width: 35px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 27px;
  background-color: var(--dark-red);
  border-radius: 5px 5px 25px 25px;
  display: flex;
}

.teeth{
  width: 80%;
  height: 5px;
  background-color: var(--white);
  border-radius: 0px 5px 10px 0;
  position: relative;
}

.teeth::before{
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid var(--red);
  border-left: 15px solid transparent;
  top: 8px;
  left: -5px;
  border-radius: 10px 0px 20px 10px;
  transform: rotate(30deg);
}

.head::after{
  content: "";
  position: absolute;
  width: 70px;
  height: 30px;
  background-color: var(--skin);
  top: 150px;
  left: 10px;
  z-index: -1;
  opacity: 0.8;
}
